body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #fefae0;
  color: #6c757d;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}
h1 {
  font-family: 'Passions Conflict', cursive;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
  border-left: 1px solid #6c757d;
}

.row {
  border-top: 1px solid #fefae0;
}

.hour {
  background-color: #fefae0;
  color: #6c757d;
  border-top: 1px dotted #6c757d;
}

.past {
  background-color: #faedcd;
  color: #000;
}

.present {
  background-color: #ccd5ae;
  color: #000;
}

.future {
  background-color: #e9edc9;
  color: #000;
}

.saveBtn {
  border-left: 1px solid #6c757d;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #d4a373;
  color: white;
  padding: 37px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
